@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html {
        @apply bg-black-primary font-primary caret-transparent scroll-smooth text-white;
    }
    h1 {
        @apply mb-5 text-[58px] leading-[4.5rem] sm:text-[56px] sm:leading-[4.5rem] font-semibold tracking-tight md:text-[68px] md:leading-[5.4rem] lg:text-[90px] lg:leading-[7rem];
    }
    h2 {
        @apply mb-4 text-4xl leading-[3rem] md:text-5xl md:leading-[3.6rem] md:mt-10 md:mb-5 font-semibold
    }
    h3 {
        @apply text-2xl md:text-4xl md:leading-[2.7rem] font-semibold
    }
    h4 {
        @apply text-xl;
    }
    p {
        @apply font-light opacity-85;
    }

    #resume h2 {
        @apply text-2xl md:text-3xl mb-2 mt-4;
    }
    #resume h3 {
        @apply text-lg md:text-xl font-medium;
    }
    #resume h4 {
        @apply text-base;
    }
    #resume p {
        @apply text-sm;
    }

    #resume-download h1 {
        @apply text-lg text-[#1d1d26] font-medium mt-3 mb-0;
    }
    #resume-download h2 {
        @apply text-sm text-[#1d1d26] font-medium my-0;
    }
    #resume-download h3 {
        @apply text-xs text-[#1d1d26] font-medium;
    }
    #resume-download h4 {
        @apply text-xs text-[#1d1d26] font-medium;
    }
    #resume-download p {
        @apply text-[#77777d] text-[10px] font-medium opacity-100;
    }

    #projectDescription h2 {
        @apply md:text-4xl
    }

    .subheading {
        @apply opacity-85 text-xl;
    }
    .button {
        @apply w-full xsm:w-fit px-4 py-3 rounded-2xl flex justify-center gap-3 bg-blue-primary hover:bg-blue-600 transition-all duration-300 cursor-pointer;
    }
    .button.secondary {
        @apply bg-opacity-15 hover:bg-opacity-30
    }
    .button.small {
        @apply px-3 py-2 gap-2 rounded-xl text-sm
    }
}